@import "~bootstrap/scss/functions";
@import "./heplers/variables";
@import "~bootstrap/scss/bootstrap";
@import "./heplers/grid";

@import "./heplers/layout";
@import "./heplers/reset";
@import "./dashbord";
@import "./heplers/hover-border-bottom";
@import "./heplers/dropdown.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Microsoft JhengHei';
}
.bg-cover {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}






